<div class="message">
  <div class="content-container">
    <div class="content">
      <%= message.content %>
    </div>
    <div class="author">
      <%= message.user.name %>
    </div>
  </div>
</div>