<div class="container">
  <h1>哈囉～<%= current_user.name %></h1>

  <%= link_to "編輯會員資料", edit_user_registration_path, class: "btn" %>
  <%= link_to "我的訂單", orders_path, class: "btn" %>
  <%= link_to "我的最愛", myfavorite_stores_path, class: "btn" %>
</div>