<div class="map-container">
  <div class="destination hidden">
    <input
      id="destination-input"
      class="controls"
      type="text"
      placeholder="輸入店家..."
    />
    <button class="btn calc-btn">計算</button>
  </div>
  
  <div class="map">
    <div id="map"></div>
  </div>
  <div class="info">
    <div class="status">
      <p>未上線</p>
      <a href="#" class="btn online-btn">上線</a>
    </div>
    <div class="order">
      <div class="text">
        <p class="distance"></p>
        <p class="time"></p>
      </div>
      <div class="btn-list"></div>
    </div>
  </div>
</div>