<div class="flex main">
  <%= link_to '編輯外送員資料', edit_driver_profiles_path, class: 'btn' %>
  <div class="destination">
    <input
      id="destination-input"
      class="controls"
      type="text"
      placeholder="輸入店家..."
    />
    <button class="btn calc-btn">計算</button>
  </div>
  <div class="info flex">
    <p class="distance"></p>
    <p class="time"></p>
  </div>
</div>

<div id="map"></div>