<footer class="bg-gray-900 text-white body-font mt-20">
  <div class="footer-container py-12 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
    <div class="w-full md:w-6/12 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
      <div class="w-full md:w-6/12">
        <%= image_pack_tag 'media/images/logo/logo-white.png', class: 'w-full', alt: 'logo' %>
      </div>
    </div>
    <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
      <div class="md:w-1/2 w-full px-4">
        <h2 class="text-white title-font font-medium tracking-widest text-sm mb-3">關於我們</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-300 hover:text-red-500">關於5BayEats</a>
          </li>
          <li>
            <a class="text-gray-300 hover:text-red-500">企業理念</a>
          </li>
          <li>
            <a class="text-gray-300 hover:text-red-500">閱讀常見問答</a>
          </li>
          <li>
            <a class="text-gray-300 hover:text-red-500">取得協助</a>
          </li>
        </nav>
      </div>
      <div class="md:w-1/2 w-full px-4">
        <h2 class="text-white title-font font-medium tracking-widest text-sm mb-3">團隊成員</h2>
        <nav class="list-none mb-10">
          <li>
            <a href="https://drive.google.com/file/d/12N50M1pEXVm-hdyj3pCkPlMtzz3-SxMS/view?usp=sharing" target="_blank" class="text-gray-300 hover:text-red-500">陳庭儀/地圖功能...</a>
          </li>
          <li>
            <a class="text-gray-300 hover:text-red-500">呂冠霖/訂單狀態即時顯示...</a>
          </li>
          <li>
            <a class="text-gray-300 hover:text-red-500">郭鴻毅/聊天室...</a>
          </li>
          <li>
            <a class="text-gray-300 hover:text-red-500">陳建甫/訂單流程狀態...</a>
          </li>
          <li>
            <a class="text-gray-300 hover:text-red-500">游旻勳/LinePay&購物車...</a>
          </li>
        </nav>
      </div>
    </div>
  </div>
  <div class="border-t-2 border-gray-400">
    <div class="container mx-auto py-4 flex flex-wrap flex-col sm:flex-row justify-center">
      <p class="text-sm text-center">© 2021 5BayEats</p>
      <span class="inline-flex sm:ml-2 sm:mt-0 mt-2 justify-center">
        <a class="text-white">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-white">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-white">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
      </span>
    </div>
  </div>
</footer>
