.nav {
  @apply flex;
  @apply flex-nowrap;
  @apply bg-gray-900;
  @apply pl-14;
  @apply md:px-14;
  @apply w-full;
  @apply md:justify-between;
  @apply items-center;
  @apply fixed;
  @apply z-10;
  height: 70px;
  top:0;
  .bars {
    @apply md:hidden;
    @apply absolute;
    @apply text-white;
    @apply text-2xl;
    @apply cursor-pointer;
    left: 20px;
  }
  .logo {
    @apply pl-20;
    @apply p-0;
    @apply mr-2;
    @apply flex-none;
    height: 60px;
    @apply cursor-pointer;
    img {
      @apply h-full
    }
  }
  .list-up {
    top: -280px;
  }
  .list-down {
    top: 70px;
  }
  .list {
    @apply bg-gray-900;
    @apply absolute;
    @apply left-0;
    @apply mx-auto;
    @apply w-full;
    @apply md:flex-none;
    @apply md:w-auto;
    @apply md:h-auto;
    @apply md:static;
    @apply md:flex;
    .flex {
      @apply flex-col;
      @apply md:flex-row;
    }
    &-text {
      @apply text-white;
      @apply font-medium;
      font-size: 18px;
      line-height: 60px;
    }
    &-item {
      @apply text-white font-medium relative;
      line-height: 60px;
      font-size: 18px;
      letter-spacing: .1em;
      padding: 5px 20px;
      cursor: pointer;
    }
    &-item:hover {
      @apply text-gray-900;
      @apply bg-red-500;
      @apply shadow-inner-lg;
    }
    &-item.selected {
      @apply text-gray-900;
      @apply bg-red-500;
      .fa-sort-down {
        @apply relative;
        bottom: 3px;
      }
    }
    &-item.selected:hover {
      @apply text-white;
    }
    .dropdown {
      @apply relative;
      .info {
        @apply w-full left-0 bg-gray-900 rounded-b-sm;
        top: 70px;
        li {
          @apply w-full text-center text-white font-medium cursor-pointer;
          line-height: 60px;
          font-size: 18px;
          letter-spacing: .1em;
          padding: 5px 20px;
        }
      }
      &:hover{
        .info {
          @apply md:block;
          li:hover {
            @apply bg-red-500 text-gray-900;
          }
        }
      }
    }
  }
}
