.chat-room{
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  .message{
    min-height: 59px;
    margin-bottom: 2px;
    .content-container{
      display: inline-block;
      .content{
        background-color: #eeeeee;
        padding: 8px 16px;
        border-radius: 20px;
      }
      .author{
        font-size: 0.8rem;
        color: #777777;
        margin-left: 10px;
      }
    }
    &.me{
      .content-container {
        float: right;
        .content{
          background-color: #007bff;
          color: white;
        }
      }
    }
  }
  .chat-box{
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
    #new_message{
      display: flex;
    }
    #message-btn{
      width: 50px;
      background-color: #007bff;
      color: white;
    }
    #message_content{
      width: 100%;
    }
    input[type=text]{
      height: 45px;
      font-size: 18px;
      padding: 8px;
    }
  }
}