.chat-room{
  height: 285px;
  overflow-y: scroll;
  position: relative;
  #messages{
    height: 240px;
    overflow: auto;
  }
  .message{
    min-height: 59px;
    margin-bottom: 2px;
    .content-container{
      display: inline-block;
      .content{
        background-color: #eeeeee;
        padding: 8px 16px;
        border-radius: 20px;
      }
      .author{
        font-size: 0.8rem;
        color: #777777;
        margin-left: 10px;
      }
    }
    &.me{
      .content-container {
        float: right;
        .content{
          background-color: #007bff;
          color: white;
        }
      }
    }
  }
  .chat-box{
    position: absolute;
    bottom: 0;
    height: 45px;
    width: 100%;
    #new_message{
      display: flex;
    }
    #message-btn{
      width: 50px;
      background-color: #007bff;
      color: white;
    }
    #message_content{
      width: 100%;
    }
    input[type=text]{
      height: 45px;
      font-size: 18px;
      padding: 8px;
    }
  }
}

.rooms{
  height: 575px;
}

.chat-icon {
  position: absolute;
  bottom: 3px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  border: 1px solid black;
  &.invisible {
    display: none;
  }
}

.room-wrapper {
  display: none;
  &.show {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 322px;
    border: 2px solid black;
    
    .room-close {
      display: block;
    }
  }
  .chat-container {
    background-color: #CEFFCE;
    width: 100%;
    height: 100%;
  }
  .room-close {
    display: none;
    position: absolute;
    font-size: 20px;
    color: red;
    z-index: 50;
    right: 10px;
    top: -5px;
  }
}


.fa-comments{
  font-size: 37px;
  margin-top: 4px;
  margin-left: 2px;
}

#content{
  position: relative;
}