<div class="container">
  <h1><%= current_user.store_profile.store_name %> 的準備中訂單</h1>
  <div class="order-lists">
    <div class="table">
      <div class="thead">
        <div class="tr">
          <div class="th">訂單日期</div>
          <div class="th">訂單明細</div>
          <div class="th">姓名</div>
          <div class="th">電話</div>
          <div class="th">總計金額</div>
          <div class="th"></div>
        </div>
      </div>
      <div class="tbody">
        <% receiving_orders.each do |receiving_order| %>
          <div class="tr">
            <%= render 'orders/form', receiving_order: receiving_order, url: preparing_update_orders_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>