<div class="container">
  <h1><%= current_user.store_profile.store_name %> 的新訂單</h1>
  <div class="order-lists">
    <table>
      <thead>
        <tr>
          <th>訂單編號</th>
          <th>訂單明細</th>
          <th>姓名</th>
          <th>電話</th>
        </tr>
      </thead>
      <tbody>
        <% receiving_orders.each do |receiving_order| %>
          <%= form_for(receiving_order, url: receiving_update_orders_path, method: 'post') do |form| %>
            <%= render 'orders/form', form: form, receiving_order: receiving_order %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
