<h1>剩餘時間</h1>
<p>預計抵達時間</p>
<p>訂單編號</p>
<p>餐點正在準備中</p>

<table>
    <thead>
      <tr>
        <td>訂單內容</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
 <link href='style.css' rel='stylesheet'>
   <div class="container">
  <div class="s1">
    <div class="celu">
      <div class="circles">
        <div class="c1"><div class="ice"></div></div>
        <div class="c2"><div class="pizza"></div><div class="cir"></div></div>
        <div class="c3"><div class="tarta"></div></div>
        <div class="c4"><div class="fact"></div></div>
        <div class="c5"><div class="salad"></div></div>
      </div>
    </div>
   </div>
  <div class="s2">
     <div class="verduras">
        <div class="red"></div>
        <div class="gray"></div>
        <div class="green"></div>
        <div class="burbujas">
           <div class="b1"></div>
           <div class="b2"></div>
           <div class="b3"></div>
           <div class="b4"></div>
           <div class="b5"></div>
           <div class="b6"></div>
       </div>
     </div>
    <div class="olla">
      <div class="lado"></div>
      <div class="lado3"></div>
      <div class="curva"></div>
      <div class="tape"></div>
      <div class="fire">
         <span class="l1"></span>
         <span class="l2"></span>
         <span class="l3"></span>
         <span class="l4"></span>
         <span class="l5"></span>
         <span class="l6"></span>
     </div>
    </div>
  </div>
 <div class="s3">
    <div class="car ani">
      <div class="car3"></div>
      <div class="car7"></div>
      <div class="car9"></div>
      <div class="rueda"></div>
      <div class="campana">
          <div class="campana3"></div>
      </div>
    </div>
  </div>
 </div>
