.app {
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    &-item {
      margin: 0 5px;
      border: 1px solid red;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}