@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
#content{
  padding-top: 70px;
}
.container {
  @apply px-10;
  @apply pt-5;
  @apply mx-auto;
}
#flash {
  @apply bg-white fixed z-10;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
  .notice,
  .alert {
    @apply text-center;
    @apply text-gray-900;
  }
}

.btn {
  @apply px-4;
  @apply py-3;
  @apply bg-gray-700;
  @apply text-white;
  @apply rounded-lg;
  @apply m-1;
  @apply text-sm;
  @apply cursor-pointer;
  &-primary {
    @apply bg-red-500;;
    @apply text-white;
    @apply rounded-lg;
    &:hover {
      @apply bg-gray-700;
      @apply text-white;
      @apply transition;
      @apply duration-300;
    }
  }
}

a {
  @apply underline;
  @apply text-red-500;
} 

.form-item {
  @apply mb-5;
  label {
    @apply text-xl;
    @apply font-black;  
  }
  input {
    @apply py-2;
    @apply px-4;
    @apply w-full;
    @apply rounded-lg;
    @apply shadow-inner;
    @apply border-2;
    @apply border-double;
    @apply border-gray-900;
  }
  input:focus {
    @apply outline-none;
    @apply bg-gray-900;
    @apply text-white;
  }
  select {
    @apply py-2;
    @apply px-4;
    @apply w-full;
    @apply rounded-lg;
    @apply shadow-inner;
    @apply border-2;
    @apply border-double;
    @apply border-gray-900;
  }
  .fa-exclamation-circle {
    @apply hidden;
  }
  .fa-check-circle {
    @apply hidden;
  }
  .error-message {
    @apply hidden;
  }
}
.form-item.error{
  @apply relative;
  input {
    @apply border-red-500;
    @apply border-4;
    @apply border-solid;
  }
  .fa-exclamation-circle {
    @apply text-red-500;
    @apply inline-block;
    @apply absolute;
    @apply text-2xl;
    right: 20px;
    bottom: 25px;
  }
  .error-message {
    @apply block;
    @apply text-red-500;
    @apply text-sm;
  }
}
.form-item.correct{
  @apply relative;
  input {
    @apply border-green-500;
    @apply border-4;
    @apply border-solid;
  }
  .fa-check-circle {
    @apply text-green-500;
    @apply inline-block;
    @apply absolute;
    @apply text-2xl;
    right: 20px;
    bottom: 5px;
  }
}