.driver_profiles.index {
  background-color: #18191B;
  .map-container {
    @apply flex flex-col pt-0;
    height: calc(100vh - 70px);
    .destination {
      @apply absolute z-10 bg-white;
    }
    .map {
      @apply flex-grow w-full;
      #map {
        @apply  h-full w-full;
      }
    }
    .info {
      @apply flex-none rounded-t bg-white relative;
      .order {
        .text {

        }
        .btn-list {
          @apply flex;
        }
        .steps-list {
          @apply absolute overflow-y-auto;
          height: 50px;
          top: -65px;
          left: 0;
          z-index: 100;
          .steps {
            @apply w-full;
            background-color: rgba(255, 255, 255, 0.9);
            color: rgb(10, 6, 46);
            margin-bottom: 10px;
            padding: 5px 10px;
          }  
        }
      }
    }
    .hidden {
      display:none
    }
  }
}