.chat-room{
  height: 285px;
  overflow-y: scroll;
  position: relative;
  background-color: white;
  #messages{
    height: 240px;
    overflow: auto;
  }
  .message{
    min-height: 59px;
    margin-bottom: 2px;
    @apply px-2;
    .content-container{
      display: inline-block;
      .content{
        background-color: #eeeeee;
        padding: 8px 16px;
        border-radius: 20px;
      }
      .author{
        font-size: 0.8rem;
        color: #777777;
        margin-left: 10px;
      }
    }
    &.me{
      .content-container {
        float: right;
        .content{
          background-color: #258482;
          color: white;
        }
      }
    }
  }
  .chat-box{
    position: absolute;
    bottom: 0;
    height: 45px;
    width: 100%;
    #new_message{
      display: flex;
    }
    #message-btn{
      width: 50px;
      background-color: #258482;
      color: white;
    }
    #message_content{
      width: 100%;
    }
    input[type=text]{
      height: 45px;
      font-size: 18px;
      padding: 8px;
    }
  }
}

.rooms{
  height: 575px;
}

.chat-icon {
  @apply fixed bottom-2 right-2 rounded-full w-16 h-16 text-2xl text-white flex content-center justify-center;
  background-color: #258482;
  &.invisible {
    display: none;
  }
  i {
    line-height: 1.5em;
  }
  .dot {
    @apply absolute bg-red-500 rounded-full h-5 w-5;
    top: -5px;
    right: -5px;
  }
}

.room-wrapper {
  display: none;
    &.show {
      display: block;
      position: fixed;
      z-index: 100;
      bottom: 0;
      right: 0;
      width: 300px;
      height: 322px;
      @apply border-2;
      border-color: #258482;
    .room-close {
      display: block;
    }
  }
  .chat-container {
    background-color: #258482;
    width: 100%;
    height: 100%;
    p {
      @apply text-white m-0 px-2;
      line-height: 40px;
    }
  }
  .room-close {
    display: none;
    position: absolute;
    font-size: 20px;
    line-height: 40px;
    color: white;
    z-index: 50;
    right: 10px;
  }
}

.fa-comments{
  font-size: 37px;
  margin-top: 4px;
  margin-left: 2px;
}

#content{
  position: relative;
}