.store_profiles.search {
  .store-card-list {
    @apply grid grid-cols-1 gap-4;
    .card {
      @apply cursor-pointer relative h-60 md:h-40 md:flex;
      .heart {
        @apply text-red-500 text-lg absolute;
        bottom: 10px;
        right: 10px;
      }
      .image {
        @apply w-full h-2/4 md:h-full md:w-2/4 overflow-hidden bg-gray-500;
        img {
          @apply w-full;
        }
      }
      .text{
        @apply p-3 grid grid-rows-2 grid-flow-col;
        color: black;
        .title {
          @apply row-span-1 col-span-5 text-lg font-medium;
        }
        .description {
          @apply row-span-1 col-span-5 text-sm font-normal;
        }
        .star {
          @apply row-span-1 col-span-1 text-right text-yellow-300 text-lg;
        }
      }
      &:hover{
        @apply transform scale-105 shadow-md transition duration-500 rounded-md;
        .image {
          @apply rounded-l-md;
        }
      }
    }
  }
}
