.registrations.new {
  @apply bg-yellow-50;
  .container {
    @apply mx-auto px-5 md:px-40 lg:px-96;
    padding-top: 100px;
    .img {
      @apply max-w-sm mx-auto mb-5;
      img {
        @apply w-full;
      }
    }
    h1 {
      @apply text-center text-4xl font-black mb-5;
    }
    .new_user {
      @apply mx-auto;
      .remember-me {
        @apply flex align-middle;
        input[type="checkbox"] {
          @apply w-5 h-5 cursor-pointer mr-2;
        }        
        label {
          @apply font-black;  
        }
      }        
    }
    .btn {
      @apply w-full;
    }
    .btn-google {
      @apply bg-gray-200 text-black no-underline text-sm text-center;
      span {
        @apply relative;
      }
      span::before {
        content: '';
        @apply absolute w-6 h-6 top-auto bottom-auto;
        left: -60px;
        background-image: url('../images/google_icon.png');
        background-size: contain;
      }
    }
    .btn-google:hover {
      @apply bg-gray-700 text-white transition duration-300;
    }   
  }
}