<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 500px;
        width: 500px;
      }
    </style>
  </head>
  <body>
    <!-- <iframe
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBL-80hWXX74wWTTTjPIc3uNz_uUH5Wd-w&q=Space+Needle,Seattle+WA" allowfullscreen>
    </iframe>  -->
    <div id="map"></div>
    <script>
      var map, marker, lat, lng;
      function initMap() {
        navigator.geolocation.watchPosition((position) => {
          console.log(position.coords);
          lat = position.coords.latitude;
          lng = position.coords.longitude;
          // 初始化地圖
          map = new google.maps.Map(document.getElementById('map'), {
              zoom: 18,
              center: { lat: lat, lng: lng },
              mapId: 'c57b36ae7dbc5a40'
          });
          marker = new google.maps.Marker({
              position: { lat: lat, lng: lng },
              map: map
          });
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBL-80hWXX74wWTTTjPIc3uNz_uUH5Wd-w&map_ids=c57b36ae7dbc5a40&callback=initMap&libraries=&v=beta"
    async defer>
    </script>
  </body>
</html>
