.home.index{
  .category-card-list {
    @apply grid;
    @apply grid-cols-2;
    @apply md:grid-cols-6;
    @apply gap-4;
    .card {
      @apply text-center;
      @apply border-0;
      cursor: pointer;
      .image {
        @apply mx-auto;
        width: 35%;
        img {
          @apply w-full;
        }
      }
      p {
        @apply text-lg;
        @apply font-normal;
        @apply pt-3;
      }
    }
    .card:hover{
      .image {
        @apply transform;
        @apply  scale-110;
        @apply transition;
        @apply  duration-500;
      }
    }
  }

  .store-card-list {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4;
    .card {
      @apply cursor-pointer relative border w-full md:w-64 mx-auto;
      .image {
        @apply w-full h-32 xl:h-40 overflow-hidden bg-gray-500;
        img {
          @apply w-full;
        }
      }
      .text{
        @apply p-3;
        color: black;
        .title {
          @apply flex justify-between;
          .name {
            @apply text-lg font-medium;
          }
          .rate {
            @apply text-sm font-normal text-yellow-500 text-right;
            min-width: 60px;
            .img {
              @apply inline-block w-3 h-3 mr-1;
              img {
                @apply w-full;
              }
            }
          }
        }
        .description {
          @apply text-sm font-normal truncate;
        }
        .heart {
          @apply absolute text-red-500 text-lg bg-white rounded-full;
          padding: 1px 6px;
          top: 5px;
          right: 5px;
        }
      }
      &:hover{
        @apply transform;
        @apply scale-105;
        @apply shadow-md;
        @apply transition;
        @apply duration-500;
        @apply rounded-md;
        .image {
          @apply rounded-t-md;
        }
      }  
    }
  }
  .carousel {
    max-height: 450px;
  }
}